---
// import '@/css/global.scss';
import "src/css/global.scss";
import "@fontsource/exo"
import "@fontsource/poppins"
import { ImageSupportDetection } from 'astro-imagetools/components';

// import { Footer } from '@/partials/Footer';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<script is:inline>
  let theme = localStorage.getItem('theme');

  if (!theme) {
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      theme = 'dark'
    } else {
      theme = 'light'
    }
  }

  const root = document.documentElement;
    if (theme === 'light') {
      root.classList.remove('theme-dark');
      document.documentElement.classList.remove('dark');
    } else {
      root.classList.add('theme-dark');
      document.documentElement.classList.add('dark');
    }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <ImageSupportDetection />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-textdark text-primarydark dark:bg-primarydark dark:text-textdark ">
    <!-- <Navbar /> -->

    <slot />

    <!-- <Footer /> -->
  </body>
</html>
