---
// import '../../css/pagehero.scss';

import type {
  FrontmatterPage,
  IFrontmatter,
} from 'astro-boilerplate-components';
import { NewerOlderPagination, Section } from 'astro-boilerplate-components';

import BlogCard from '@/partials/BlogCard.astro';
import ContentTopBar from '@/partials/ContentTopBar.astro';
import Hero from '@/partials/Hero.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<IFrontmatter>('./*.md');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 16 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description =
  'Pagination example built with Astro styled with Tailwind CSS.';
---

<Base head={{ title, description }}>
  <div class="flex w-full flex-wrap">
    <div class="md:2/5 w-full lg:w-2/5">
      <Hero subtitle="All" title="Posts" mode="page" />
    </div>
    <div class="md:2/5 h-screen w-full p-8 lg:w-3/5 lg:overflow-y-auto">
      <ContentTopBar />
      <div class="my-10 flex w-full justify-center">
        <div class="flex max-w-7xl flex-wrap justify-center">
          {page.data.map((post) => <BlogCard post={post} />)}
        </div>
      </div>
      <Section>
        <NewerOlderPagination page={page} />
      </Section>
    </div>
  </div>
</Base>
