---
import type { IFrontmatter } from 'astro-boilerplate-components';

import { Hero } from '@/partials/Hero';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

import BlogCard from '../partials/BlogCard.astro';

const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
const sortedPosts = sortByDate(allPosts);
const recentPosts = sortedPosts.slice(0, 12);
// const lastThreePosts = sortedPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />
  <!-- <ProjectList /> -->
  <!-- <RecentPosts postList={lastThreePosts} /> -->
  <!-- <CTA /> -->
  <div class="flex w-full justify-center">
    <div class="m-5 max-w-7xl">
      <div class="flex w-full flex-wrap justify-center">
        {recentPosts.map((post) => <BlogCard post={post} />)}
      </div>
      <div class="flex w-full justify-center mt-4"><a href="/posts">...See More Posts</a></div>
    </div>
  </div>
</Base>
