---
import ContentTopBar from '@/partials/ContentTopBar.astro';
import Hero from '@/partials/Hero.astro';
import Base from '@/templates/Base.astro';
import type { PostFrontmatter } from '@/types/PostFrontmatter';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

import BlogCard from '../partials/BlogCard.astro';

const allPosts = await Astro.glob<PostFrontmatter>('./posts/*.md');
const sortedPosts = sortByDate(allPosts);
const totalPosts = sortedPosts.length;
const recentPosts = sortedPosts.slice(0, 12);

const { title } = AppConfig;
const { description } = AppConfig;

const seeMoreButton =
  totalPosts > 12
    ? `<div class="mt-4 flex w-full justify-center">
        <a href="/posts">...See More Posts</a>
      </div>`
    : ``;
---

<Base head={{ title, description }}>
  <div class="flex w-full flex-wrap">
    <div class="md:2/5 w-full lg:w-2/5">
      <Hero title=" " />
    </div>
    <div class="md:3/5 h-screen w-full p-8 lg:w-3/5 lg:overflow-y-auto">
      <ContentTopBar />
      <div class="my-4 w-full p-8">
        <div class="flex w-full flex-wrap justify-center">
          {recentPosts.map((post) => <BlogCard post={post} />)}
        </div>
        <Fragment set:html={seeMoreButton} />
      </div>
    </div>
  </div>
</Base>
