---
// import '@fontsource/bokor';
// import '@fontsource/flamenco';
// import 'src/css/global.scss';

import type {
  IFrontmatter,
  MarkdownInstance,
} from 'astro-boilerplate-components';

import ContentTopBar from '@/partials/ContentTopBar.astro';
// import { Hero } from '@/partials/Hero';
// import SearchHero from '@/partials/SearchHero.astro';
import Hero from '@/partials/Hero.astro';
import SearchResults from '@/partials/SearchResults';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

interface IFrontmatterTags extends IFrontmatter {
  tags: string[];
}

// import BlogCard from '../partials/BlogCard.astro';

const allPosts = await Astro.glob<IFrontmatterTags>('./posts/*.md');
const sortedPosts =
  (sortByDate(allPosts) as MarkdownInstance<IFrontmatterTags>[]) || [];

const { title } = AppConfig;
const { description } = AppConfig;
---

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());

  sessionStorage.setItem('searchTerm', params?.s ?? '');
</script>

<Base head={{ title, description }}>
  <div class="flex w-full flex-wrap">
    <div class="md:2/5 w-full lg:w-2/5">
      <Hero mode="search" />
    </div>
    <div class="md:3/5 h-screen w-full p-8 lg:w-3/5 lg:overflow-y-auto">
      <ContentTopBar />
      <!-- <h2 class="m-5 text-4xl text-textaccent">Recent Post</h2> -->
      <div class="my-4 w-full p-8">
        <div class="flex w-full flex-wrap justify-center">
          <!-- {recentPosts.map((post) => <BlogCard post={post} />)} -->
          <SearchResults results={sortedPosts} client:load />
        </div>
        <!-- <Fragment set:html={seeMoreButton} /> -->
      </div>
    </div>
  </div>
</Base>
