---
---

<div
  id="hero-mid-section"
  class="mt-12 flex h-full w-full flex-wrap items-center justify-center text-center"
>
  <div class="w-5/6">
    <h2 class="my-4 w-full text-center text-4xl font-bold">
      Most Excellent Dudes & Dudettes
    </h2>
    <div class="mx-4 text-center">
      If you'd like to support my work, please <span class="text-boom"
        >share</span
      > my content & <span class="text-boom">SUBSCRIBE</span> to stay up to date
      with my latest posts!
    </div>
  </div>
</div>
