---
import ThemeToggle from './ThemeToggleButton';
---

<div class="my-5 flex w-full justify-between px-4 text-lg">
  <div class="flex items-center opacity-70">
    <slot name="left" />
  </div>
  <div class="flex items-center">
    <slot name="middle" />
  </div>
  <div class="flex items-center">
    <slot name="right">
      <div class="flex items-center">
        <h1 class="hidden lg:block">
          <span class="text-3xl font-normal dark:text-boomdark"
            >ZACH<span class="font-bold opacity-80">MOORE</span>
          </span>
          <!-- <span class="">.dev</span> -->
        </h1>
        <div class="block lg:hidden">
          <ThemeToggle client:only="react" />
        </div>
      </div>
    </slot>
  </div>
</div>
