---
import 'src/css/bloghero.scss';
import 'src/css/icon.scss';
import 'src/css/global.scss';
import '@fontsource/bokor';
import '@fontsource/flamenco';
import 'src/css/hero.scss';

// import SearchBtn from 'src/partials/SearchBtn';
import Search from '@/partials/SearchOverlay';
import { IFrontmatter } from 'astro-boilerplate-components';
// import SearchTitle from '@/partials/SearchTitle';

const allPosts = await Astro.glob<IFrontmatter>('../pages/posts/*.md');


---

<script>
  (()=>{
    const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());

  sessionStorage.setItem('searchActive', 'true');
  sessionStorage.setItem('searchTerm', params?.s ?? '');

  document.getElementById('search')?.classList.remove('opacity-0');
  document.getElementById('search')?.classList.add('fade-in');

  const searchText = document.getElementById('search-title');
  if(searchText) searchText.innerText = params?.s || 'Search';
  })();
</script>

  <section class=" md:h-screen border-r-2 border-accent">
    <div
      class="hero flex justify-center p-8 md:h-full"
     
    >
    <div class="bloghero__overlay absolute bg-textdark  dark:bg-primarydark"></div>
      <div id="main-overlay" class="bloghero__overlay absolute bg-text-dark dark:bg-primarydark ">
        
        
      </div>
      <div class="z-0 mx-4 flex w-full max-w-7xl flex-col">
        <div class="w-full">
          <div class="navbar my-5 flex w-full items-center justify-between px-2 ">
            <div class="navbar-brand text-2xl font-bold text-primarydark dark:text-textdark">Zach Moore</div>
            <div class="flex items-center cursor-pointer">
              <!-- <SearchBtn onClick={onClickSearch} client:load /> -->
            </div>
          </div>
        </div>
        {/* <div class="hero-content z-0 grow"></div> */}
        <div class="hero-footer w-full break-word z-0 mb-12 flex grow items-center  ">
          <Search id="search" className="active" posts={allPosts}  client:load />
        </div>
        <div id="title" class="">
          <div>
            <div>Results For</div>
            <h1 id="search-title" class="post-title w-full text-primarydark dark:text-textdark  pb-10 text-5xl font-bold capitalize md:text-7xl lg:text-7xl">
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>


