.blog-card {
  width: 280px;
  height: 330px;
}

.blog-card__header {
  min-height: 140px;
}

.blog-card__overlay {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.blog-card__desc {
  max-height: 130px;
  line-height: 1.4;
  mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(191, 211, 190,1)), to(rgba(191, 211, 190,0)));
}

.miniblogcard-title {
  font-size: 1.5rem !important;
  // line-height: 1.75rem !important;
  // font-weight: normal !important;
}

// .blog-card__desc::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 150px;
//   height: 1.5rem;
//   mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
//   // background-color: rgba(0, 0, 0, 0.5);
// }

html.theme-dark *{
  .blog-card__desc {
    mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
}