$bkcolor: #212b31;
$textcolor: #bfd3be;
$accent: #0B6E4F;
$boomcolor: #FFC914;

body::-webkit-scrollbar {
  width: 0.8em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(61, 41, 73);
  outline: 1px solid rgb(26, 35, 44);
}