
$bkcolor: #1a2125;
$textcolor: #bfd3be;
$accent: #0B6E4F;
$boomcolor: #FFC914;
$boomcolor2: #05F140;
$test: #242e35;

*::-webkit-scrollbar {
  width: 0.8em;
}
 
*::-webkit-scrollbar-thumb {
  background-color: $accent;
  // outline: 1px solid rgb(26, 35, 44);
}

h1,h2,h3,h4,h5,h6 { font-family: "Exo", serif; }
// h1,h2,h3,h4,h5,h6 { font-family: "Pirata One", cursive; }
body { 
  scroll-behavior: smooth;
  font-family: "Poppins", sans; font-size: 1.4em; 
}

// .text-bokor { font-family: "Bokor", serif; }
.text-bokor { font-family: "exo", sans-serif; }

/* class to fade in*/
.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 0.2s ease-in forwards;
  animation: fade-in 0.2s ease-in forwards;
}

.fade-in-full {
  opacity: 0;
  -webkit-animation: fade-in-full 0.2s ease-in forwards;
  animation: fade-in-full 0.2s ease-in forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade-in-full {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-full {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* class to fade out*/
.fade-out {
  opacity: 0.8;
  -webkit-animation: fade-out 0.2s ease-in forwards;
  animation: fade-out 0.2s ease-in forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

html.theme-dark *{
  ::-webkit-scrollbar-track {
    background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
}